In [1]:
import pandas as pd

df = pd.read_csv('seoul/강수량.csv', encoding='euc-kr', header=7) 
# 그냥 불러왔을 때 CSV파일에 쓸데 없는 데이터 때문에 에러가 나니 header=7을 통해 csv파일의 7번째 줄부터 데이터를 가져온다.

df = df.drop(['지점명'], axis=1)
df = df.drop(['\t지점번호'], axis=1)
df = df.drop(['1시간최다강수량(mm)'], axis=1)
df = df.drop(['1시간최다강수량시각'], axis=1)
df = df.drop(['Unnamed: 6'], axis=1)
# 내가 원하는 데이터와 상관없는 데이터들은 삭제하여 보기 좋게 데이터를 고친다. 

# df = df.fillna(0)
# df파일에 fillna 메소드를 통해 NA 즉, 데이터가 들어있지 않은 부분의 value를 0으로 변환한다.
# 아주 조금이라도 비가 내린 경우 = 0.0으로 표시, 아예 안 내린 경우 = 0으로 표시

#df = df.dropna
# df파일에 dropna 메소드를 통해 NA 즉, 데이터가 들어있지 않은 부분의 행을 삭제한다.

df.reset_index(inplace=True)
df = df.drop(['index'], axis=1) 
# reset_index 메소드를 실행하면서 생겨난 index column을 삭제한다.

df.rename(columns = {'일시':'날짜'}, inplace=True)
df = df.set_index(['날짜'])
# 보기 좋게 index를 날짜로 설정한다

In [2]:
# 강수량이 80mm 이상인 데이터를 H로 저장 
H = df['강수량(mm)'] >= 80 
df[H]

            강수량(mm)
날짜
2016-07-01    108.5
2016-07-05    100.5
2017-07-02     92.0
2017-07-10    144.5
2017-07-23    133.5
2017-08-15     93.5
2017-08-20    124.5
2018-05-17     83.0
2018-07-01     83.5
2018-08-28     96.5
2020-07-23    103.1
2020-08-03    102.6
2020-08-11     97.0
2020-11-19     86.9

In [3]:
# 강수량이 80mm 미만인 데이터(0.0 인 날짜들은 비나 눈이 0.00000001mm라도 내린 날들)
M = df['강수량(mm)'] < 80  
df[M]

            강수량(mm)
날짜
2016-01-13      0.4
2016-01-14      0.0
2016-01-16      0.1
2016-01-18      0.2
2016-01-23      0.0
...             ...
2020-12-23      0.0
2020-12-27      0.0
2020-12-28      1.3
2020-12-29      0.2
2020-12-31      0.0

[690 rows x 1 columns]

In [4]:
Z = df['강수량(mm)'].isnull() # 강수량이 0mm인 데이터
df[Z]

            강수량(mm)
날짜
2016-01-01      NaN
2016-01-02      NaN
2016-01-03      NaN
2016-01-04      NaN
2016-01-05      NaN
...             ...
2020-12-22      NaN
2020-12-24      NaN
2020-12-25      NaN
2020-12-26      NaN
2020-12-30      NaN

[1123 rows x 1 columns]